@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");

:root {
  --primary-color: #005995;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.upper-section {
  padding: 2em 2em 0em;
  text-align: center;
  line-height: 2.4em;
}

.hero {
  text-align: center;
}

.logo {
  position: relative;
  font-size: 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.user-svg {
  width: auto;
  height: 1em;
  color: #bfbfbf;
}

.togglepassword {
  width: auto;
  height: 1.4em;
  color: #bfbfbf;
}

.user-in {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #bfbfbf;
  border-radius: 5em;
  height: 3em;
  padding: 1em;
  width: 100%;
  margin-bottom: 0.8em;
}

.pass-in {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #bfbfbf;
  border-radius: 5em;
  height: 3em;
  padding: 1em;
  width: 100%;
  margin-bottom: 0.8em;
}

span {
  position: relative;
  top: -0.1em;
  left: 0.2em;
  text-transform: capitalize;
  font-family: "Euphoria Script", cursive;
  font-weight: bold;
  color: black;
  font-size: 1em;
}

.pw-in {
  width: 100%;
}

h1 {
  font-size: 2.5em;
}

.left-col {
  margin-top: 2em;
  padding: 2% 25% 0 25%;
}

.input-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: none;
  width: 100%;
  padding-left: 1em;
  font-size: 1em;
}

.togglepassword {
  cursor: pointer;
}
.submit-btn {
  background: #005995;
  color: white;
  width: 13em;
  border: none;
  height: 3em;
  text-align: center;
  border-radius: 3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 0;
}

.hero-img {
  margin-top: 3em;
  width: auto;
  height: 16.3em;
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: 1.4em;
  }

  h1 {
    font-size: 3em;
  }

  .user-in {
    border: solid 2px #bfbfbf;
  }

  .pass-in {
    border: solid 2px #bfbfbf;
  }
}

@media only screen and (min-width: 992px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .upper-section {
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 130px;
    left: 100px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  .left-col {
    position: relative;
    margin-top: 0;
    padding: 0;
    margin: 0;
    left: 0;
    width: 50%;
    padding: 0 90px 0 90px;
  }

  .input-tags {
    width: auto;
  }

  .user-in {
    position: relative;
  }

  .right-col {
    position: relative;
    width: 50%;
    right: 3%;
  }

  .hero-img {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
}
